################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodersOfTheCaribean/.vs/CodersOfTheCaribean/v16
/CodersOfTheCaribean/CodersOfTheCaribean/bin/Debug
/CodersOfTheCaribean/CodersOfTheCaribean/obj/Debug
/CodeOfKutulu/.vs/CodeOfKutulu/v16
/CodeOfKutulu/CodeOfKutulu/obj/Debug
/CodeOfKutulu
/Puzzles/.vs/Puzzles/v16
/Puzzles/Puzzles/bin/Debug
/Puzzles/Puzzles/obj/Debug
/CodersStrikeBack/.vs/CodersStrikeBack
/CodersStrikeBack/CodersStrikeBack
/Puzzles/Puzzles/bin/Release
/Puzzles/Puzzles/obj/Release
/Puzzles/Puzzles/Uncompressed_SetRuneWhenFirstOccurred.zip
/Puzzles/Puzzles/Uncompressed_SetRuneAtBeginning.zip
/FileMergeTool/.vs/FileMergeTool/v16
/FileMergeTool/FileMergeTool/bin
/FileMergeTool/FileMergeTool/obj
