################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodersOfTheCaribean/.vs/CodersOfTheCaribean/v16
